.img-responsive {
	height: 250px;
	width: 250px;
	display: inline;
	border-radius:25px;


}

.partner-names {
	font-family: $nav-font;
	font-size: 40px;
	color: $prim-light;

}

p {
	font-family: Georgia, serif;
	color: white;
}



.Page-Title {
	h1 {
		color: white;
		font-family: $nav-font;
	}


}


