.contact-form	{
	color: $prim-light;
}

.input-field	{
	position: absolute;
	right: 15px;
/*	top: 5px;
*/	margin-bottom: 10px;
}

.input-field-label	{
	margin:	5px 0;
}

input[type=radio]	{
	margin: 5px 10px 10px 10px;
}

input[type=radio]:first-of-type	{
	margin-left: 0px;
}

.new-cust-button	{
	/*position: relative;
	left: 30px;*/
	font-weight: bold;
}

/*.email-content-field	{
	width: 500px;
}*/