.carousel-area	{
	margin-top: 40px;
	height: 400px;
}

.client-ad-image	{
	width: auto;
	max-width: 100px;
	height:	400px;
	max-height: 400px;
}

.client-profile	{
	display: none;
	padding-top: 40px;

	.client-logo	{
		width:	90%;
		margin: 0 auto;
		vertical-align: middle;
	}

	.company-name	{
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		color: $sec-light;
	}

	.company-text	{
		font-size: 20px;
		color: $main-light;
		margin-top: 20px;
	}
}