@import "colours";

body {
	background-image: url('/images/bgimage.jpg');
	background-repeat: no-repeat;
}



.nav {
	padding-top: 18px;
	border-bottom: 1px solid white;

	a:hover {
		font-size:26px;

	}
}


.main-header {
	text-align: center;
	color: white;
}

.content-title {
	height: 500px;
	border: 1px solid black;
}



.title {
	color: $prim-med;
	padding-top: 10px;
	text-align:center;


	h1 {
		text-align: left;


		span:hover{
			color: $sec-dark;
		}
	}
}


span {
	color: $prim-light;

}
