body {
	background-color:white;
}


.main_nav {
	background-color: black;
}



.title {
	color: orange;
	height: 75px;
}


span {
	color: green;
}



.navbar {
	background-color: orange;
}

.hero-image {
	height: 500px;
	border: 1px solid black;
	background-color: orange;
}