<form method="POST" action="/message-sent">
	<label for="name">Name: </label>
		<input type="text" name="name"><br>
	<label for="company">Company: </label>
		<input type="text" name="company"><br>
	<label for="email">Email: </label>
		<input type="email" name="email"><br>
	<input type="radio" name="new-customer" value=true checked="checked">I'm new here.   
	<input type="radio" name="new-customer" value=false>I am a valued client.
	<label for="subject">Subject: </label>
		<input type="text" name="subject"><br>
	<textarea name="content" rows="6" cols="48">Tell us what we can do for you.</textarea><br>
	<button type="submit">Submit</button>
</form>