<!DOCTYPE html>
<html>
<head>
	<title>Courntey Arpe Welsh</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="title">
				<h1><span>C</span>ourtney <span>A</span>rpe <span>W</span>elsh</h1>
			</div>
		</div>
	
	

		<div class="col-md-6">
				<nav class="navbar navbar-light bg-faded">
					
				  <ul class="nav navbar-nav navbar-right">
				    <li class="nav-item active">
				      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">Portfolio</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">About Us</a>
				    </li>
				    <li class="nav-item">
				      <a class="nav-link" href="#">Contact</a>
				    </li>
				  </ul>
				 
				</nav>
			</div>
		</div>
	

		<div class="main-header">
	

		<div class="row">
			<div class="col-md-12">
				<div class="content-title">
					<h2>Page Title</h2>
					
				</div>
			</div>
		</div>
	</div>
</div>










</div>










<%= yield %>

</body>
</html>