<div class="row">
	<div id="client-carousel" class="carousel" data-ride="carousel">
		<ol>
			<% @carousel_images.length.times |i| %>
				<li data-target="#client-carousel" data-slide-to=<%=i%>
					<% if i == 0 %>
						<%= 'class="active"'%>
					<% end %>></li>
			<% end %>
		</ol>
		<div class="carousel-inner" role="listbox">
			<% @carousel_images.each do |pic| %>
				<div class="item active">
					<img src="/images/ad-"<%= pic %> alt="">
				</div>			
			<% end %>
		</div>
		<a class="left carousel-control" href="#client-carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</a>
		<a class="right carousel-control" href="#client-carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</a>
	</div>
</div>