<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-12">
		<div id="client-carousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<% @carousel_images.length.times do |i| %>
					<li data-target="#client-carousel" data-slide-to="<%=i%>"
						<% if i == 0 %>
							<%= 'class="active"'%>
						<% end %>></li>
				<% end %>
			</ol>
			<div class="carousel-inner" role="listbox">
				<% @carousel_images.each_with_index do |pic, i| %>
					<div class="item <% if i == 0 %><%= 'active' %><% end %>">
						<img class="image-responsive center-block" src="/images/ad-<%= pic %>" alt="">
					</div>			
				<% end %>
			</div>
			<a class="left carousel-control" href="#client-carousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			</a>
			<a class="right carousel-control" href="#client-carousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</a>
		</div>	<!-- close of carousel div -->
	</div>
</div>